@font-face {
  font-family: "JetBrains Mono";
  src: url("./Code/fonts/JetBrainsMono[wght].woff2") format("woff2");
  font-style: normal;
  font-weight: 100 800;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("./Code/fonts/JetBrainsMono-Italic[wght].woff2") format("woff2");
  font-style: italic;
  font-weight: 100 800;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("./Code/fonts/JetBrainsMono-Thin.otf") format("opentype");
  font-style: normal;
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("./Code/fonts/JetBrainsMono-ThinItalic.otf") format("opentype");
  font-style: italic;
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("./Code/fonts/JetBrainsMono-ExtraLight.otf") format("opentype");
  font-style: normal;
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("./Code/fonts/JetBrainsMono-ExtraLightItalic.otf") format("opentype");
  font-style: italic;
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("./Code/fonts/JetBrainsMono-Light.otf") format("opentype");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("./Code/fonts/JetBrainsMono-LightItalic.otf") format("opentype");
  font-style: italic;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("./Code/fonts/JetBrainsMono-Regular.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("./Code/fonts/JetBrainsMono-Italic.otf") format("opentype");
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("./Code/fonts/JetBrainsMono-Medium.otf") format("opentype");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("./Code/fonts/JetBrainsMono-MediumItalic.otf") format("opentype");
  font-style: italic;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("./Code/fonts/JetBrainsMono-SemiBold.otf") format("opentype");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("./Code/fonts/JetBrainsMono-SemiBoldItalic.otf") format("opentype");
  font-style: italic;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("./Code/fonts/JetBrainsMono-Bold.otf") format("opentype");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("./Code/fonts/JetBrainsMono-BoldItalic.otf") format("opentype");
  font-style: italic;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("./Code/fonts/JetBrainsMono-ExtraBold.otf") format("opentype");
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("./Code/fonts/JetBrainsMono-ExtraBoldItalic.otf") format("opentype");
  font-style: italic;
  font-weight: 800;
  font-display: swap;
}
