<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <meta name="author" content="Devanka" />
    <meta name="robots" content="notranslate" />
    <meta name="google" content="notranslate" />

    <meta name="description" content="Multiplayer Survival Puzzle RPG. Play with friends!" />

    <meta property="og:title" content="Kulon" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Multiplayer Survival Puzzle RPG. Play with friends!" />
    <meta property="og:url" content="https://kulon.devanka.id" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="Kulon" />
    <meta name="twitter:description" content="Multiplayer Survival Puzzle RPG. Play with friends!" />
    <meta name="twitter:alt" content="Kulon" />
    <meta name="twitter:url" content="https://kulon.devanka.id" />

    <meta name="msapplication-TileColor" content="#2d3048" />
    <meta name="theme-color" content="#2d3048" />

    <meta name="color-scheme" content="light dark" />

    <title>Kulon UGC Creator</title>
  </head>
  <body>
    <div class="app">
      <div class="EditorDeleteProject">
        <form class="box" action="/uwu/delete-project" method="post">
          <div class="box-top">Delete Project</div>
          <div class="box-mid">
            <div class="f delete-desc">
              <p>You will lose:</p>
            </div>
            <div class="f delete-lose">
              <ul>
                <li>1 objects</li>
                <li>2 events</li>
              </ul>
            </div>
            <div class="f delete-notice">
              <p>This action can't be undone</p>
            </div>
          </div>
          <div class="box-bottom">
            <div class="inp-text">
              <label for="project-delete">Type <b>Project Name</b> to commit</label>
              <input type="text" name="project-delete" id="project-delete" placeholder="Project Name" required />
            </div>
            <div class="inp-action">
              <div class="btn btn-project-cancel">CANCEL</div>
              <button class="btn btn-project-delete disabled">DELETE</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
