<form action="/wkwk" method="post" class="iform">
  <div class="box">
    <div class="f">
      <p class="title">Contoh Title</p>
    </div>
    <div class="btn btn-close"><i class="fa-duotone fa-light fa-circle-xmark"></i></div>
    <div class="f">
      <div class="i">
        <div class="btn btn-find">Choose Your Asset</div>
      </div>
    </div>
    <div class="f">
      <div class="i">
        <div class="inp">
          <label for="in-1">In 1</label>
          <input type="text" name="in-1" id="in-1" />
        </div>
      </div>
      <div class="i">
        <div class="inp">
          <label for="in-5">In 1</label>
          <input type="text" name="in-5" id="in-5" placeholder="ehek" />
        </div>
      </div>
    </div>
    <div class="f">
      <div class="i">
        <div class="inp">
          <label class="btn btn-file" for="file1">Choose File</label>
          <input type="file" name="file1" id="file1" />
          <div class="f p">
            <div class="i">
              <div class="img">
                <img src="/assets/maps/egghunt/graveyard_bottom.png" alt="graveyard" />
                <div class="img-name">
                  <input type="text" name="img1" id="img1" value="graveyard_bottom.png" />
                  <span class="btn btn-delete"><i class="fa-solid fa-trash-can"></i> Delete</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="f">
      <div class="i">
        <div class="inp">
          <audio src="/audio/sfx/dialogue_loop.mp3" controls>Your browser does not support the audio element.</audio>
          <input type="text" name="img2" id="img2" value="graveyard_bottom.png" />
          <span class="btn btn-delete"><i class="fa-solid fa-trash-can"></i> Delete</span>
        </div>
      </div>
    </div>
    <div class="f">
      <div class="i">
        <div class="groups">
          <div class="inp">
            <label for="in-2">In 1</label>
            <input type="number" name="in-2" id="in-2" min="1" max="99" value="20" />
          </div>
          <div class="inp">
            <div class="btn-evt">
              <span class="evt-name">Add Story Flag</span>
              <div class="btn btn-delete"><i class="fa-solid fa-trash-can"></i></div>
            </div>
          </div>
        </div>
        <div class="btn btn-add-evt"><i class="fa-solid fa-plus"></i> Add Event</div>
        <div class="btn btn-add-field"><i class="fa-solid fa-plus"></i> Add Has Flag</div>
      </div>
    </div>
    <div class="f">
      <div class="i">
        <div class="inp">
          <label for="in-4">In 1</label>
          <textarea name="in-4" id="in-4" maxlength="200" placeholder="cy"></textarea>
        </div>
        <div class="f p">
          <div class="i">
            <div class="check">
              <label for="ck-1">
                <input type="checkbox" name="ck-1" id="ck-1" />
                <span>A Checkbox</span>
              </label>
            </div>
          </div>
          <div class="i">
            <div class="rem">
              <div class="btn btn-remove">
                <i class="fa-solid fa-trash-can"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="f">
      <div class="i">
        <div class="check">
          <label for="ck-2">
            <input type="checkbox" name="ck-2" id="ck-2" checked />
            <span>More Checkbox</span>
          </label>
        </div>
      </div>
      <div class="i">
        <div class="check">
          <label for="ck-5">
            <input type="checkbox" name="ck-5" id="ck-5" checked />
            <span>Last Checkbox</span>
          </label>
        </div>
      </div>
    </div>
    <div class="f">
      <div class="i">
        <div class="radio">
          <label for="r1">
            <input type="radio" name="ra" id="r1" />
            <span>Use Map</span>
          </label>
        </div>
      </div>
      <div class="i">
        <div class="radio">
          <label for="r2">
            <input type="radio" name="ra" id="r2" />
            <span>Use GPS</span>
          </label>
        </div>
      </div>
    </div>
    <div class="f">
      <div class="s">
        <div class="btn btn-delete">Delete</div>
      </div>
      <div class="s">
        <div class="btn btn-ok">Ok</div>
      </div>
    </div>
  </div>
</form>

<form action="/wkwk" method="post" class="iform">
  <div class="box">
    <div class="f"><p class="title">Form</p></div>
    <div class="btn btn-close"><i class="fa-duotone fa-light fa-circle-xmark"></i></div>
    <div class="f">
      <div class="s">
        <div class="btn btn-delete">Delete</div>
      </div>
      <div class="s">
        <div class="btn btn-ok">Ok</div>
      </div>
    </div>
  </div>
</form>
