<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Devanka" />
    <meta name="robots" content="notranslate" />
    <meta name="google" content="notranslate" />

    <meta name="description" content="Create your own Multiplayer RPG based on Kulon Game!" />

    <!-- <base href="https://kulon-creator.devanka.id/" /> -->

    <meta property="og:title" content="Kulon" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Create your own Multiplayer RPG based on Kulon Game!" />
    <meta property="og:image" content="/images/Kulon_Hero_1024.png" />
    <meta property="og:url" content="https://kulon-creator.devanka.id/" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="Kulon" />
    <meta name="twitter:description" content="Create your own Multiplayer RPG based on Kulon Game!" />
    <meta name="twitter:alt" content="Kulon" />
    <meta name="twitter:image" content="/images/Kulon_Hero_1024.png" />
    <meta name="twitter:url" content="https://kulon-creator.devanka.id/" />

    <link rel="apple-touch-icon" sizes="57x57" href="/favicons/favicon-57x57.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="/favicons/favicon-60x60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/favicons/favicon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/favicons/favicon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/favicons/favicon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/favicons/favicon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/favicons/favicon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/favicons/favicon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/favicon-180x180.png" />

    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="/favicons/favicon-96x96.png" />
    <link rel="icon" type="image/png" sizes="192x192" href="/favicons/favicon-192x192.png" />

    <link rel="shortcut icon" type="image/x-icon" href="/favicons/favicon.ico" />
    <link rel="icon" type="image/x-icon" href="/favicons/favicon.ico" />
    <link rel="icon" type="image/svg+xml" href="/favicons/favicon.svg" />

    <meta name="msapplication-TileColor" content="#2d3048" />
    <meta name="msapplication-TileImage" content="/favicons/favicon-144x144.png" />
    <meta name="msapplication-config" content="/favicons/browserconfig.xml" />
    <link rel="manifest" href="/favicons/manifest.json" />
    <meta name="theme-color" content="#2d3048" />

    <meta name="color-scheme" content="light dark" />

    <link rel="prefetch" href="/creator.html" />
    <link rel="prefetch" href="/code.html" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet" />

    <title>Kulon Creator</title>
  </head>
  <body>
    <div class="app">
      <nav class="nav">
        <div class="nav-left">
          <div class="nav-title">
            <div class="btn btn-menu">
              <i class="fa-pixel fa-regular fa-bars fa-fw"></i>
            </div>
            <div class="btn btn-icon">
              <img src="/images/Kulon_Hero_1024.png" alt="[Kulon Icon]" height="40" />
              <span>CREATOR</span>
            </div>
          </div>
          <div class="nav-items">
            <a href="/creator.html" class="btn btn-nav">Dashboard</a>
            <a href="/code.html" class="btn btn-nav">Code Editor</a>
            <a href="https://github.com/HiccupsRaven/Kulon-Creator/blob/fuhhh/learn/INTRODUCTION.md" target="_blank" class="btn btn-nav">Learn</a>
          </div>
        </div>
        <div class="nav-right">
          <a href="/creator.html" class="btn btn-nav btn-install">Try Now</a>
        </div>
      </nav>
      <main class="main">
        <div class="home para" id="home">
          <div class="home-content">
            <div class="hero">
              <div class="hero-title">Imagine a pixelated heaven</div>
              <div class="hero-desc">Your place to start creating infinite worlds on Kulon</div>
              <div class="hero-action"><a href="/creator.html" class="btn btn-start">Let's Begin</a></div>
            </div>
            <div class="home-continue">
              <a class="btn btn-continue">
                <i class="fa-pixel fa-regular fa-arrow-down fa-fade"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="creator" id="creator">
          <div class="creator-title">Everything you could imagine</div>
          <div class="creator-assets">
            <img src="/images/creator-preview.png" alt="[Creator Preview]" />
          </div>
        </div>
        <div class="creator" id="code-editor">
          <div class="creator-title">Simple built-in code editor</div>
          <div class="creator-assets">
            <img src="/images/code-editor-preview.png" alt="[Code Editor Preview]" />
          </div>
        </div>
        <div class="creator" id="programming-languages">
          <div class="creator-title">Bring the power of the most popular web programming languages</div>
          <div class="creator-tech">
            <a class="tech tech-ts" href="https://www.typescriptlang.org/" target="_blank">
              <p class="icon">
                <i class="fa-brands fa-typescript fa-4x fa-fw"></i>
              </p>
              <p class="name">TypeScript</p>
            </a>
            <a class="tech tech-js" href="https://262.ecma-international.org/#sec-intro" target="_blank">
              <p class="icon">
                <i class="fa-brands fa-js fa-4x fa-fw"></i>
              </p>
              <p class="name">JavaScript</p>
            </a>
            <a class="tech tech-scss" href="https://sass-lang.com/" target="_blank">
              <p class="icon">
                <i class="fa-brands fa-sass fa-4x fa-fw"></i>
              </p>
              <p class="name">SCSS</p>
            </a>
            <a class="tech tech-css" href="https://developer.mozilla.org/docs/Web/CSS" target="_blank">
              <p class="icon">
                <i class="fa-brands fa-css3 fa-4x fa-fw"></i>
              </p>
              <p class="name">CSS</p>
            </a>
          </div>
        </div>
        <div class="creator" id="get-involved">
          <div class="creator-title">Get Involved</div>
          <div class="creator-desc">Join the community and help create a game creator that belongs to everybody</div>
          <div class="creator-contributes">
            <div class="card">
              <div class="card-icon">
                <i class="fa-pixel fa-regular fa-desktop fa-2x fa-fw"></i>
              </div>
              <div class="card-title">Code</div>
              <div class="card-desc">If you know how to code, you can help by fixing bugs and working with engine contributors towards the implementation of new features.</div>
              <div class="card-action">
                <a href="https://github.com/HiccupsRaven/Kulon-Creator" target="_blank" class="btn btn-contribute">Contribute</a>
              </div>
            </div>
            <div class="card">
              <div class="card-icon">
                <i class="fa-pixel fa-regular fa-book fa-2x fa-fw"></i>
              </div>
              <div class="card-title">Document</div>
              <div class="card-desc">Documentation quality is essential in a game editor; help make it better by updating the API reference, writing new guides or submitting corrections.</div>
              <div class="card-action">
                <a href="https://github.com/HiccupsRaven/Kulon-Creator" target="_blank" class="btn btn-contribute">Contribute</a>
              </div>
            </div>
            <div class="card">
              <div class="card-icon">
                <i class="fa-pixel fa-regular fa-bug fa-2x fa-fw"></i>
              </div>
              <div class="card-title">Report</div>
              <div class="card-desc">Found a problem with the game editor? Don't forget to report it so that developers can track it down.</div>
              <div class="card-action">
                <a href="https://github.com/HiccupsRaven/Kulon-Creator/issues" target="_blank" class="btn btn-contribute">Contribute</a>
              </div>
            </div>
          </div>
        </div>
        <div class="creator" id="sponsors">
          <div class="creator-title">Kulon & Kulon Creator are sponsored by:</div>
          <div class="creator-sponsors">
            <div class="card">
              <p>None :&#41;</p>
            </div>
          </div>
          <div class="creator-desc">
            <p>If you are interested in a corporate sponsorship, please write to <a href="mailto:hiccupsraven@devanka.id">hiccupsraven@devanka.id</a>.</p>
            <p>To donate as an individual, you can do so through the <a href="https://devanka.id/fund?app=kuloncreator" target="_blank">Kulon Creator Fund</a>.</p>
          </div>
          <div class="creator-action">
            <a href="https://devanka.id/fund?app=kuloncreator" class="btn btn-donate" target="_blank"><i class="fa-pixel fa-regular fa-heart fa-fw"></i> Donate</a>
          </div>
        </div>
      </main>
      <footer class="footer">
        <p>&copy;2026 <a href="https://github.com/HiccupsRaven" target="_blank">HiccupsRaven</a>, <a href="https://devanka.id/" target="_blank">Devanka761</a> and <a href="https://github.com/HiccupsRaven/Kulon-Creator/blob/fuhhh/AUTHORS.md" target="_blank">contributors</a>.<br />Kulon Creator</p>
        <br />
        <p>Licensed Under<br /><a href="https://www.gnu.org/licenses/gpl-3.0.html#license-text" target="_blank">The GNU General Public License v3.0</a></p>
      </footer>
    </div>
  </body>
</html>
