@use "../../variables" as v;

.prompted {
  position: absolute;
  z-index: 22;
  top: calc((v.$bigPadding) + 30px);
  width: fit-content;
  max-width: calc(100% - v.$bigPadding);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: v.$syellow;
  color: v.$px1;
  font-weight: 500;
  border: 1px solid v.$black;
  font-size: 18px;
  padding: 0 v.$bigPadding;
  gap: v.$mediumPadding;
  border-radius: v.$smallPadding;
  border: 1px solid v.$px1;
  animation: slide_down_in 0.3s;
  .text {
    text-align: center;
    flex-grow: 1;
    font-size: 1em;
    padding: v.$bigPadding 0;
  }
  .btn {
    flex-shrink: 0;
    font-size: 2em;
    padding: v.$mediumPadding 0;
    color: v.$px1;
  }
}

.tell {
  position: absolute;
  z-index: 99;
  width: fit-content;
  height: fit-content;
  min-width: 0;
  min-height: 0;
  top: calc((v.$mediumPadding) + 22px);
  max-width: clamp(200px, 60vw, 500px);
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 0;
  background-color: v.$px3;
  border: 1px solid v.$pm1;
  border-radius: v.$smallPadding;
  overflow: hidden;
  animation: slide_down_in 0.2s;
  .ic {
    flex-shrink: 0;
    font-size: 1.5em;
    padding: v.$smallPadding v.$mediumPadding;
    color: v.$pm1;
  }
  .text {
    flex-grow: 1;
    border-left: 1px solid v.$sgray;
    padding: v.$smallPadding v.$mediumPadding;
    font-size: 1.2em;
    overflow: hidden;
    word-break: break-all;
    word-break: break-word;
  }
}
